<div class="content">
    <div class="content_first">
        <div class="shortcuts_title">
            <i class="iconfont">&#xe648;</i>
            <span>快捷功能</span>
        </div>
        <div class="shortcuts">
            <ul class="clearfix">
                <li>
                    <dl class="tc">
                        <dt><img src="./imgs/u17.png" alt=""></dt>
                        <dd>费用政策导入</dd>
                    </dl>
                </li>
                <li>
                    <dl class="tc">
                        <dt><img src="./imgs/u22.png" alt=""></dt>
                        <dd>生成自定义模版</dd>
                    </dl>
                </li>
                <li>
                    <dl class="tc">
                        <dt><img src="./imgs/u27.png" alt=""></dt>
                        <dd>手续费批量调整</dd>
                    </dl>
                </li>
                <li>
                    <dl class="tc">
                        <dt><img src="./imgs/u32.png" alt=""></dt>
                        <dd>结算单生成</dd>
                    </dl>
                </li>
                <li>
                    <dl class="tc">
                        <dt><img src="./imgs/u37.png" alt=""></dt>
                        <dd>车险业务费用批量调整</dd>
                    </dl>
                </li>
                <li>
                    <dl class="tc">
                        <dt><img src="./imgs/u42.png" alt=""></dt>
                        <dd>车险业务费用结算</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="content_second">
        <div class="task_title">
            <i><img src="./imgs/u169.png" alt=""></i>
            <span>待办任务</span>
        </div>
        <div class="task_content" pie-charts></div>
    </div>
    <div class="content_three">
        <div class="warn_title">
            <i><img src="./imgs/u171.png" alt=""></i>
            <span>中介预警</span>
        </div>
        <div id="warn" class="warn_content" bar-charts></div>
    </div>
</div>